html {
	height: 100%;
}
body {
	background-image: url("CircuitBackground.jpg");
	color: white;
	font-size: 12px; /* base font size is 14px*/
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 1000px;
	clear: both;
	min-height: 100%;
}	

.black {
	position: relative;
	opacity: 0.9;
}

.black p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.info {
	position: absolute;
	top: 0px;
    overflow: hidden;
	margin: 0 auto;
	border: solid white;
	border-width: 0px 1px;
	width: 1000px;
}

a {
	text-decoration: none;
}

.logo-slogan {
	margin-top:0px;
	margin-bottom: 0px;
	padding: 10px;
}

.mainHeader nav {
	background-color: #B84B00;
	border-radius: 3px;
}


.mainHeader nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 30px;
    overflow: hidden;
	border: solid white;
	border-width: 1px 0px;
	border-radius: 3px;
}

.mainHeader nav ul li {
	float: left;
}

.mainHeader nav ul li a {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	color: white;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link {
	background-color: #763000;
}


.content {
	width: 700px;
	float: left;
	margin-left: 10px;
}

.contentpg3 {
	width: 595px;
	float: left;
	margin-left:10px;
}

#phoneNumber {
	background-image: url("gradient.jpg");
	height: 48px;
	line-height: 42px;
	width: 1000px;
	margin-left: 0px;
	text-align:center;
	vertical-align: middle;
}

#phone {
	font-size: 20px;
	font-family: georgia, serif;
	color: #474740;

}

.design {
	position: relative;
	margin-top: 20px;
}

.design img {
	border-radius: 3px;
}

.design3 {
	position: relative;
	float: right;
	margin-top: 8px;
}

.design3 img {
	border-radius: 3px;
}

#whitemoveleft {
	margin-right: 5px;
}

.Select {
	position: absolute;
	top: 0px;
	margin-left: 10px;
}

.subtitle {
	color: black;
	margin-bottom: 0px;
}

.subtitle a:hover {
	background-color: #4F63C6;
}
	
.subtitleTelecom {
	font-size: 30px;
	color: black;
	margin-bottom: 0px;
	margin-top: 0px;
}	

h3 {
	margin-top: 5px;
}
	
#text{
	margin-top: 5px;
}

#text2 {
	margin-top: 0px;
}

.mainText {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;
}

.subText {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 260px;
	border-radius: 3px;
}

.subText2 {
	position: absolute;
	background-color: #B84B00;
	top: 13px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 465px;
	border-radius: 3px;
}

.subText3 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;
}

.subText4 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;	
}

.subText5 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;	
}

.subTextNetwork {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 260px;
	border-radius: 3px;
	margin-top: 12px;
}


.subText2Network {
	position: absolute;
	background-color: #B84B00;
	top: 337px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 465px;
	border-radius: 3px;
	margin-top: 10px;
}

.subTextTelecom {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;
}

.subTextTelecom2 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 300px;
	border-radius: 3px;
}

.subTextTelecom3 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 300px;
	border-radius: 3px;
}

.subTextTelecom4 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 430px;
	border-radius: 3px;
}

.subTextTelecom5 {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	width: 550px;
	border-radius: 3px;
}


.container2 {
	width: 595px;
}

.list {
	position: absolute;
	background-color: #B84B00;
	top: 5px;
	margin-left: 5px;
	padding: 5px 20px;
	border-radius: 3px;
	width: 235px;
}

#Listheader {
	color: black;
	margin-bottom: 0px;
}

#List {
	color: white;
	margin-top: 5px;
}

#picture {
	float: right;
	margin-top:0px;
}

#picture2 {
	float: right;
	margin-top:5px;
}

#picture3 {
	float: left;
	margin-top:20px;
}

/*
.mainContent {
	background-color: #483CFA;	
	margin-left: 10px;
	padding: 5px 20px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
}	
*/

.formDesign {
	position: relative;
	margin-top: 25px;
	margin-left: 30px;
}

#form_container {
	background-color: #1F1F1F;
	width: 400px;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0px 0px;
	position: absolute;
	top: 0px;
	
}
#header {
	margin-left: 20px;
	padding-top: 15px;
	color: white;
}

.form_txt {
	margin-left: 35px;
	color: white;
}

form{
	width: 325px;
}

label{
	display: block;
	margin: 5px 0 5px 10px;
	color: white;
	
}
form input{
	width: 100%;
}
textarea{
	margin: 0 0 0 0;
}

fieldset{
	border: none;
}

.sideDesign1 {
	position: relative;
	float: right;
	margin-top: 6px;
	width: 300px;
}

.facebook {
	position: absolute;
	top: 20px;
	width: 230px;
	float: right;
	background-color: #483CFA;
	padding: 5px 20px;
	margin-right: 10px; 	
	margin-left: 10px;
	margin-top:2px;
	/*margin-left: 5px;
	margin-right: 10px;
	margin-top: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: white;*/
}

.fbheader a:hover{
	background-color: #4F63C6;
}

.sideDesign2 {
	position: relative;
	float: right;
	margin-top: 6px;
	width: 300px;
}

.twitter {
	position: absolute;
	top: 20px;
	width: 230px;
	float: right;
	background-color: #483CFA;
	padding: 5px 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top:2px;
	/*margin-left: 5px;
	margin-right: 10px;
	margin-top: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: white;*/
}		

.twtheader a:hover {
	background-color: #4F63C6;
}

.mainFooter {
	width: 1000px;
	height: 40px;
	float: left;
	background-color: #B84B00; 
	margin-bottom: 20px;
	margin-top: 60px;
}	
	
.mainFooter p {
	margin: 0 auto;
	margin-top: 12px;
	color: #FFF;
	padding: 0px 20px;
}

#cr a {
	color: #9999FF;
}

.FooterShort { /*For if only a little content on page.*/
	width: 1000px;
	height: 40px;
	float: left;
	background-color: #B84B00; 
	margin: 20px 0px;
	margin-top: 200px
}

.FooterShort p {
	margin: 0 auto;
	margin-top: 12px;
	color: #FFF;
	padding: 0px 20px;
}